<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.picfl.florida"
	version 	= "1.5.5">

	<name>Florida - Picfl</name>

	<description>
		Florida PICFL
	</description>

	<author href="http://sebasmercado.github.com"
		email="mercado.sebas@gmail.com">
		Sebas Mercado
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
